<% if @ship.errors.any? %>
  <%= pluralize(@ship.errors.count, "error") %> prevent this ship from being updated:
  <ul>
  <% @ship.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>
<br>
<%= form_for @ship do |f| %>
<% if @fleet.valid? %>
  Fleet: <%= @fleet.name %>
  <%= f.hidden_field :fleet_id %>
<% else %>
  <%= f.collection_select(:fleet_id, Fleet.all, :id, :name) %>
<% end %>
<%= f.label "Fleet name:" %><br>
<%= f.text_field :name %><br>
<%= f.submit %>
<% end %>
