<h1> <%= @ship.name %> </h1>
<h3> <%= @fleet.name if @fleet %> </h3>
<ul>
  <li> Size: <%=@ship.size %> </li>
  <li> Maximum Cargo: <%=@ship.max_cargo %> </li>
  <li> Maximum Distance: <%=@ship.max_distance %> </li>
</ul>
