<!DOCTYPE html>
<html>
  <head>
    <title>FlatironRailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-wrapper">
        <div class="logo">
          <div class="logo-title">
            Fantasy Fleets
          </div>
          <div class="logo-subtitle">
            Fantasy Sports...But With Boats
          </div>
        </div>
        <div class="navbar" id="logged-out">
          <a href="<% root_url %>"> Home </a>
        </div>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
